[2021-11-18 14:14] SaraSoueidan opened #2 "Add data to data files"
## Data files

The `src/_data/` directory contains a few `json` files. These files contain data globally available to the site, used to pull in and display that data in the templates and pages.

@nzakas Could you kindly start adding data to the following files when you're able to?

- `sponsors.json` — the list of sponsors. Every sponsor has an image which you should place in the `assets/images/spo

[2021-12-01 13:21] SaraSoueidan opened #16 "Add footer link URLs"
So we've got a bunch of links in the site footer!

@nzakas Could you kindly add the URLs for those links when you've got some time? Or post them here and I'll add them.

Thank you!

[2021-12-01 18:11] #2 closed, assigned to nzakas

[2021-12-01 18:48] #16 closed, assigned to SaraSoueidan

[2021-12-04 10:09] snitin315 opened #28 "Remove moment dependency in favor of dayjs"
## Why?

https://github.com/eslint/new.eslint.org/blob/15bf8c7b6cdb5092bde7eb6b1f5550c73263c51e/package.json#L35

The moment dependency is quite heavy, nearly [70kb Gzipped according to Bundlephobia](https://bundlephobia.com/package/moment@2.29.0).

The use we have for it is very simple, so we could easily replace it with helpers or other existing dependencies like [Day.js](https://day.js.org/) wh

[2021-12-05 05:49] #28 closed, assigned to nobody

[2021-12-16 17:58] SaraSoueidan opened #42 "Algolia Search"
So, we're going to need to get the Algolia account details. Then we'll want to look into how to customize the markup and styles so that the search results are accessible and styled in accordance with the new design system.

[2021-12-17 05:22] SaraSoueidan opened #45 "Add author bios and social links to all_authors global data file"
@nzakas Hey Nicholas!

OK so every blog post has a list of contributors to the left, and then the list of authors again at the bottom. But the authors on the bottom of the post have biographies displayed. And since we're pulling those from the `all_authors` data file (I had to rename this in one of the branches because the name was conflicting with the data in the post yaml), we'll need to get the

[2021-12-31 07:33] SaraSoueidan opened #61 "Category image names"
@nzakas It looks like the Financials and Announcements categories don't have a cover image—it is currently broken. I'm not sure which of the images will be used for each. Could you kindly just rename the image files for those categories to match the category names? <3

Thank you! (And happy new year!)

[2022-01-01 07:54] #61 closed, assigned to nzakas

[2022-01-05 12:32] SaraSoueidan opened #68 "Alternative text for the Donate page graph & homepage code image"
Hey @nzakas!

We have two images that need alternative text that describes their content. I would create that alt text, but I don't know what it should say.

The first image is the code screenshot on the homepage. And the second image is the graph on the Donate page.

Could you kindly let me know what their alt text should say so that I can add it? I didn't ask you to add it yourself because, depe

[2022-01-07 04:33] #68 closed, assigned to nzakas

[2022-01-07 16:55] nzakas opened #73 "Documentation Hierarchy"
After reviewing our current docs, I think this is the hierarchy we should go with (at least to start):

* User Guide
  * Getting Started
  * Configuring
    * Configuration Files
    * Configuring Language Options
    * Configuring Rules
    * Configuring Plugins
    * Ignoring Code
  * Command Line Interface
  * Rules
  * Formatters
  * Integrations
  * Migrating to v8.x
* Developer Guide
  * Get

[2022-01-15 04:41] #73 closed, assigned to SaraSoueidan

[2022-01-19 09:11] #45 closed, assigned to nzakas

[2022-01-20 11:05] SaraSoueidan opened #92 "Add author bio partials to include in blog posts"
@nzakas 11ty is going to throw an error for every author whose bio is not available as a partial, since we are asking it to include that partial in the blog posts where that author is rendered.

When you can find the time, please add the bios for the authors in the `partials/author_bios` directory.

Thank you <3

[2022-02-02 17:58] nzakas opened #99 "Ensure canonical URL is set correctly for blog posts"
We have some blog posts that are re-posted from other sources, such as https://eslint.org/blog/2021/11/the-inception-of-eslint.

In this case, we need to make sure that the original post is the page's canonical URL rather than the URL on eslint.org.

[2022-02-03 16:56] #99 closed, assigned to nobody

[2022-02-04 06:32] #92 closed, assigned to nzakas

[2022-02-10 21:38] nzakas opened #117 "Go-live Finishing Touches"
Before we can go live with this site, we need to complete the following steps:

- [x] eslint/eslint.org#134
- [x] eslint/eslint.org#136
- [x] eslint/eslint.org#124
- [x] eslint/eslint.org#118
- [x] eslint/eslint.org#138
- [x] eslint/eslint.org#139
- [x] https://github.com/eslint/new.eslint.org/issues/231
- [x] https://github.com/eslint/new.eslint.org/issues/232
- [x] https://github.com/eslint/new.

[2022-02-10 21:38] nzakas opened #118 "Trigger daily builds of the site so new data is always pulled in"

[2022-02-10 22:47] roottool opened #121 "Suggestion: Make the thickness of the upper and lower borders consistent"
### What problem do you want to solve?

I want to solve my first impression for a first impression of the website viewer. It is that I felt the website has a progress bar area at top of the website.

I thought that this has occurred by two reasons.
First, the current website header doesn't consistent the upper and lower borders. The upper border has `4px` but the lower border has `1px`.
Additional

[2022-02-11 01:39] nzakas commented on #121
Thanks for the feedback. This was an intentional design decision. The upper border is meant to separate the page from the browser chrome — if it’s too thin, then you won’t see it.

The lower border is meant to separate the navigation area from the content of the page. A thicker border there would call too much attention to an unimportant area.

[2022-02-11 09:49] roottool commented on #121
Thanks for sharing your intentions with me. I close this issue since there is no need to modify it.

[2022-02-11 09:49] #121 closed

[2022-02-11 16:49] #118 closed

[2022-02-11 17:53] nzakas opened #124 "Automatically update the sponsors and donations lists"

[2022-02-18 19:03] #42 closed, assigned to nzakas, SaraSoueidan

[2022-02-22 01:33] nzakas opened #132 "Bug: GitHub Logo disappears on dark theme"
### URL(s)

https://new.eslint.org/donate

### What did you do?

Went to the page on dark mode

### What did you expect to happen?

To see the GitHub logo next to the “GitHub Sponsors” text.

### What actually happened?

The logo is missing because it’s dark-on-dark.

### Participation

- [X] I am willing to submit a pull request for this issue.

### Additional comments

_No response_

[2022-02-23 17:10] nzakas opened #134 "Add Google Analytics tracking to each page"

[2022-02-23 17:27] nzakas opened #136 "Update the `robots.txt` file to allow crawling the site"

[2022-02-23 17:40] nzakas opened #138 "Implement homepage animation"

[2022-02-23 17:40] nzakas opened #139 "Copy over redirects from original site"

[2022-02-23 17:49] nzakas commented on #132
@SaraSoueidan what do you think is the best way to address this?

[2022-02-24 01:24] #134 closed

[2022-02-26 11:48] SaraSoueidan commented on #132
I'm thinking it's best we use a (circular) JPG instead of a PNG with transparency for the Github logo, so the image is white with the black logo inside. What do you think? And would you want to use the same treatment for the Open Collective logo for consistency?

[2022-03-01 22:10] #132 closed

[2022-03-10 21:56] #138 closed

[2022-03-11 03:01] aladdin-add opened #146 "Suggestion: using esm"
### What problem do you want to solve?

we are migrating to esm in a few other repos, the new one can be esm from the begining?

### What do you think is the correct solution?

cjs -> esm

### Participation

- [X] I am willing to submit a pull request for this change.

### Additional comments

_No response_

[2022-03-11 22:55] nzakas opened #147 "Extract text from site into en.yml"
In order to support translation, we need to extract all of the text from the HTML into the `src/_data/sites/en.yml` file.

- [x] Homepage
- [x] Team page
- [x] Blog page
- [x] Donate page
- [x] Sponsors page
- [ ] 404 page
- [ ] Branding page
- [ ] Languages page
- [x] Header
- [ ] Footer
- [ ] Social Icons
- [ ] Theme Switcher
- [ ] Language Switcher

[2022-03-11 22:57] nzakas commented on #146
Can you explain more? What exactly are you proposing?

[2022-03-12 04:18] tewarig commented on #139
hi, @nzakas  can you provide a little bit more description about this issue? I would love to contribute to this 😅

[2022-03-12 08:25] snitin315 commented on #139
I believe he meant to copy [these redirects from website repo](https://github.com/eslint/website/blob/master/public/_redirects) to this repo as well.

For example, Currently, https://eslint.org/chat redirects to the discord server
But, https://new.eslint.org/chat is 404

[2022-03-12 12:51] aladdin-add commented on #146
some files were using cjs, I suggest to use esm if possilbe.
like this one: https://github.com/eslint/new.eslint.org/blob/b801cf0f2f6b10a96f0904fe8aec26ee406bc1e5/src/_data/site.js

[2022-03-13 16:31] tewarig commented on #139
okay.. got it now. can I add these redirects in this repo?

[2022-03-14 20:27] #147 closed

[2022-03-14 21:01] nzakas commented on #139
Please feel free. 👍

[2022-03-15 00:05] nzakas commented on #146
I don’t think Eleventy supports ESM for data files at the moment.

[2022-03-15 17:28] bellangerq opened #155 "Bug: wrong page title on blog category pages"
### URL(s)

Every blog category page such as:
- https://new.eslint.org/blog/category/announcements/
- https://new.eslint.org/blog/category/api-changes/

And so on.

### What did you do?

- Navigate to a blog category page like [Announcements](https://new.eslint.org/blog/category/announcements/).
- Check the page title in the browser tab or in the devtools (`<head>` -> `<title>`).

### What did you

[2022-03-15 17:32] bellangerq opened #156 "Bug: rendered <p> tags on donate page, FAQ section"
### URL(s)

Donate page: https://new.eslint.org/donate/

### What did you do?

- Navigate on the [Donate page](https://new.eslint.org/donate/)
- Scroll to the FAQ section
- See the description including `<p>` tags.

### What did you expect to happen?

`<p>` and `</p>` should not be part of the description content.

### What actually happened?

`<p>` and `</p>` are rendered but as plain text.

###

[2022-03-16 16:20] luifermoron opened #158 "Translate to Spanish 🪐"
### What language do you want to translate the website into?

Spanish

### What is the language code for the language?

ES

### What is the locale code for the language?

es

### What help will you need?

Nothing by the moment. I will let you know if any roadblock arrive.

### Implementation Checklist

- [x] Create new site file
- [x] Set up Netlify project
- [x] Register new domain name
- [x] Set

[2022-03-16 17:30] nzakas commented on #158
Awesome, thanks so much for offering to do this. You can go ahead and let us know if you need any help.

[2022-03-16 17:31] nzakas commented on #155
Confirmed. I'll take a look, thanks for the report.

[2022-03-16 17:46] #156 closed

[2022-03-16 18:01] #155 closed

[2022-03-16 21:14] darahak opened #162 "Translate to French"
### What language do you want to translate the website into?

French

### What is the language code for the language?

FR

### What is the locale code for the language?

fr

### What help will you need?

Can't think of anything right now, but maybe something will come up later.

### Implementation Checklist

- [x] Create new site file
- [x] Set up Netlify project
- [x] Register new domain name
- [

[2022-03-16 21:18] Brack0 opened #163 "Translate to French"
### What language do you want to translate the website into?

French

### What is the language code for the language?

FR

### What is the locale code for the language?

fr

### What help will you need?

Nothing for now.

### Implementation Checklist

- [ ] Create new site file
- [ ] Set up Netlify project
- [ ] Register new domain name
- [ ] Set up Google Analytics
- [ ] Set up Carbon Ads

### Pa

[2022-03-17 00:37] AlixFachin opened #164 "Translating in Japanese"
### What language do you want to translate the website into?

Japanese

### What is the language code for the language?

ja

### What is the locale code for the language?

JP

### What help will you need?

I will need a bit of time but I'll do my best!

### Implementation Checklist

- [x] Create new site file
- [x] Set up Netlify project
- [x] Register new domain name
- [ ] Set up Google Analytics

[2022-03-17 00:51] nzakas commented on #163
Duplicate of #162. Let’s see if you can work together?

[2022-03-17 00:51] #163 closed

[2022-03-17 00:53] nzakas commented on #162
Thanks, we would love a French version. @Brack0 was also interested. Perhaps you could work together?

[2022-03-17 00:54] nzakas commented on #164
Thanks! Is the issue title incorrect?

[2022-03-17 00:57] AlixFachin commented on #164
Woops. I tried to create another issue at the same time.
(Not sure if this is the right place, I'll delete this comment otherwise.
I spent a few hours before being able to run the website locally on the ARM64 architecture. I thought I would open an issue to give details about how to do it as it would help other people. Should I rather open a new issue for this, or create a pull request adding some

[2022-03-17 02:36] aladdin-add opened #165 "Translate to Chinese"
### What language do you want to translate the website into?

chinese

### What is the language code for the language?

zh

### What is the locale code for the language?

zh-cn

### What help will you need?

Not yet. we already had a repo(https://github.com/eslint/cn.eslint.org), just need to copy to here.
cc @QC-L

### Implementation Checklist

- [x] Create new site file
- [x] Set up Netlify proj

[2022-03-17 08:20] Mitsunee opened #166 "Translate to German"
### What language do you want to translate the website into?

German

### What is the language code for the language?

de

### What is the locale code for the language?

de_DE

### What help will you need?

I'm currently stuck on the `npm install` step as the installation of sharp crashes due to not being able to find glib. I have `libglib2.0-dev` and `libglib2.0-dev-bin` installed and installing

[2022-03-17 09:34] Mitsunee commented on #166
closing as I cannot get this repo to install properly on my system.
I eventually just decided to find out which package even needs sharp, removed that one from package.json, seemingly managed to install but am now getting `Error: ENOENT: no such file or directory, scandir '/home/mitsu/git/Projects/new.eslint.org/node_modules/node-sass/vendor'`.

[2022-03-17 09:34] #166 closed

[2022-03-17 21:25] darahak commented on #162
@Brack0 Wanna split it in half and review each other's parts? I already translated a few blocks from the top.

[2022-03-18 00:35] nzakas commented on #164
If there’s a problem you can’t solve, then please open another issue. If there’s something you figured out to make it work, then a PR to the README would be great.

[2022-03-18 00:44] nzakas commented on #165
Thanks! I was going to loop in the folks on can.eslint.org once we also had a solution for the docs, but no harm in getting started now.

[2022-03-19 11:15] Brack0 commented on #162
Sure :)

[2022-03-21 21:32] luifermoron commented on #158
Any Idea why P tag is shown in that way?

![Screen Shot 2022-03-21 at 17 21 23](https://user-images.githubusercontent.com/26443806/159366947-db8ac814-3d75-4fb6-9b50-44f7308e6144.png)

In the other hand,
After deleting node_modules, css and _sites folders,running all commands again and finally changing to English it shows the same.
![Screen Shot 2022-03-21 at 17 28 44](https://user-images.githubuse

[2022-03-22 00:07] nzakas commented on #158
There was a rendering bug that was fixed. If you rebase on top of main it should be fixed.

[2022-03-23 00:41] brettz9 opened #171 "Bug: Color contrast"
### URL(s)

https://deploy-preview-6--dreamy-nightingale-a71351.netlify.app/

### What did you do?

Look at the color contrast within the code and also the colors within the reported rules.

### What did you expect to happen?

See more color contrast

### What actually happened?

1. The reported rules are a little visually unclear compared to the old demo (I think related to the darkness of the te

[2022-03-23 00:43] brettz9 opened #172 "Suggestion: Way to remove rules already added"
### What problem do you want to solve?

The website currently does not offer a way to remove rules that have already been added.

### What do you think is the correct solution?

The least obtrusive solution I can think of is to have little "x" buttons show up when hovering over a rule so that when clicked, the rule could be deleted.

### Participation

- [ ] I am willing to submit a pull request f

[2022-03-23 01:32] luifermoron opened #175 "Bug: navigation.html contains a hardcoded word(Donate)"
### URL(s)

https://github.com/eslint/new.eslint.org/blob/main/src/_includes/components/navigation.html#L3

### What did you do?

in other to fix the problem, I changed "Donate" by {{ site.donate_page.title }}

### What did you expect to happen?

the word [Donate](https://github.com/eslint/new.eslint.org/blob/main/src/_includes/components/navigation.html#L3) should be translated when a language is

[2022-03-23 04:57] harish-sethuraman commented on #139
@snitin315  We can close this issue :)

[2022-03-23 16:37] nzakas commented on #139
Fixed in #168

[2022-03-24 00:25] #175 closed

[2022-03-26 03:15] nzakas opened #183 "Bug: Flags don't show up in language selector in Chromium"
### URL(s)

https://es.eslint.org
https://es.eslint.org/languages

### What did you do?

Scroll all the way to the bottom to the language picker.

### What did you expect to happen?

To see a flag next to "Spanish (ES)" as in Firefox:
![firefox-language-picker](https://user-images.githubusercontent.com/38546/160222623-3ebf2e66-4ec2-4d22-a382-320f7375421b.png)

### What actually happened?

I just s

[2022-03-27 05:49] JAYD3V opened #184 "Bug: (fill in)"
### URL(s)

https://eslint.org/docs/rules/space-infix-ops#space-infix-ops

### What did you do?

I was reading documentation...

The issue I am reporting has to do with the **ESLint Rule:** **_`space-infix-ops`_**

### What did you expect to happen?

### The "rules/space-infix-ops" page contains the following line:

### What actually happened?

### The line should read...

### Participation

- [X]

[2022-03-27 05:50] JAYD3V commented on #184
I didn't mean to tag it as a bug. Its not really a bug so much as a typo.

[2022-03-28 21:46] nzakas commented on #184
Please submit a pull request to the [main ESLint repo](https://github.com/eslint/eslint). The source of the page is in the `docs` folder.

[2022-03-30 01:01] nzakas commented on #183
@SaraSoueidan do you have any idea what might be happening here?

[2022-03-30 13:21] SaraSoueidan commented on #183
No, that’s odd. I just checked on my macOS and in my Windows VM and it seems that this is happening only on Chrome on Windows. I'm not sure why. I've never come across this before. 🤔

[2022-03-30 13:40] SaraSoueidan commented on #183
Apparently it's a known Windows 10 issue: https://answers.microsoft.com/en-us/windows/forum/all/flag-emoji/85b163bc-786a-4918-9042-763ccf4b6c05

Do you get the same problem in Windows 11? I can't test on Win 11 because I don't have its VM yet.

[2022-03-31 00:15] nzakas commented on #183
I haven’t upgraded to Windows 11, so I’ll not sure. It seems like there’s not a good solution here. Maybe worth filing a bug on Chrome.

[2022-03-31 20:28] nzakas commented on #158
This site has launched: https://es.eslint.org

Just waiting to hear back on whether Carbon Ads does ads in Spanish.

[2022-04-01 17:06] #158 closed

[2022-04-01 19:22] luifermoron commented on #158
Extremely happy to see this!

If original site changes something, just let me know. I can translate it in the future too.

[2022-04-02 00:11] nzakas commented on #158
Thanks, we appreciate it!

[2022-04-06 15:41] SaraSoueidan commented on #183
I think others have already done that. It seems to be a Windows issue more so than a Chrome issue.

[2022-04-07 00:08] nzakas commented on #183
It works in Firefox on Windows, so it must be solvable.

[2022-04-10 08:59] stefankolb opened #187 "Translate to German"
### What language do you want to translate the website into?

German

### What is the language code for the language?

de

### What is the locale code for the language?

de-DE

### What help will you need?

For now, no help needed.

### Implementation Checklist

- [ ] Create new site file
- [ ] Set up Netlify project
- [ ] Register new domain name
- [ ] Set up Google Analytics
- [ ] Set up Carbon

[2022-04-12 00:35] nzakas commented on #187
No hurry at all! Take your time and we appreciate the contribution. Let us know if you need any help along the way.

[2022-04-12 00:36] nzakas commented on #164
@AlixFachin are you still working on this?

[2022-04-12 00:37] nzakas commented on #162
Hey folks, are you still working on this?

[2022-04-12 15:35] darahak commented on #162
Hey, I did something like 20%, but I've put this on hold for health reasons. I didn't check with @Brack0 though.

I might be able to pick this up next week.

[2022-04-12 17:02] nzakas commented on #162
Thanks for the update. Take care of yourself!

[2022-04-12 17:05] nzakas commented on #164
No problem! Just wanted to know if we should ask for other volunteers to help out.

[2022-04-13 00:51] AlixFachin commented on #164
The more the merrier?

Maybe I can already create a pull request so that other people can comment on the traduction quality, and see what remains to be done?

Quick questions:
a) Should I / can I remove lines not relevant to Japanese (e.g. "Donate to a 501(c)(3) non-profit", if this has to do with US-specific tax setting, maybe not relevant in Japan?)
b) Just to confirm -> I need to figure out a w

[2022-04-13 17:12] nzakas commented on #164
@AlixFachin sure! Creating a PR with your current work would give others the opportunity to chime in. Just mark it as a "draft" to indicate it's not quite ready.

With regards to your questions:

1. Please translate everything as-is, even if it doesn't seem relevant. People in the U.S. might also switch to the Japanese version, and trying to keep track of variations per region will be too difficul

[2022-04-16 01:41] snitin315 opened #190 "Bug: improve selection color for install command"
### URL(s)

https://new.eslint.org/

### What did you do?

Select the install command. The selection color is white which is not at all visible in the light theme. Also in the dark theme text color doesn't change on selection making it hard to read the actual command after selection.

<img width="450" alt="Screenshot 2022-04-16 at 7 06 54 AM" src="https://user-images.githubusercontent.com/46647141

[2022-04-16 01:48] snitin315 opened #191 "Translate to Hindi"
### What language do you want to translate the website into?

Hindi

### What is the language code for the language?

hi

### What is the locale code for the language?

hi_IN

### What help will you need?

Nothing at the moment.

### Implementation Checklist

- [x] Create new site file
- [x] Set up Netlify project
- [x] Register new domain name
- [x] Set up Google Analytics
- [ ] Set up Carbon Ads

[2022-04-18 16:53] nzakas commented on #191
Awesome! Will be interested to see how the layout holds up in Hindi.

[2022-04-18 20:24] nzakas commented on #190
Sounds good to me. 👍

[2022-04-20 17:07] snitin315 commented on #190
Fixed in https://github.com/eslint/new.eslint.org/pull/194

[2022-04-20 17:07] #190 closed

[2022-04-20 17:38] nzakas opened #280 "Live reload for playground editor"
During development, the website will live reload if Eleventy-owned files are changed, but not if the React components are changed.

It would be great to also live reload when React components are changed to make development easier.

[2022-04-21 23:28] mdjermanovic opened #281 "Playground Font"
Is the font we're using considered suitable for coding? I personally find it very difficult to read code samples in this font, and round parentheses () next to each other are especially distracting as they look like a circle.

![image](https://user-images.githubusercontent.com/44349756/164566313-4a0920b3-f977-4069-92f6-b8007842d3c5.png)

[2022-04-22 09:00] aladdin-add opened #197 "Bug: theme switcher was not displayed well with cn"
### URL(s)

it was not deployed yet. I was using my dev: http://localhost:2022/

### What did you do?

just scroll to the bottom.

### What did you expect to happen?

"深色"/ "浅色" should be display in one line.

### What actually happened?

![image](https://user-images.githubusercontent.com/13050025/164666313-58f851d2-ff2a-4cc0-aee9-03ac759843ab.png)

### Participation

- [ ] I am willing to submit

[2022-04-22 09:16] harish-sethuraman commented on #197
I've sent a fix for this 😅

[2022-04-22 13:47] ota-meshi commented on #197
FYI, `ja` #193 have the same problem.

<img width="263" alt="image" src="https://user-images.githubusercontent.com/16508807/164727168-ea6b9181-2618-4d49-9f64-aea8cde2a8ba.png">

[2022-04-22 17:40] #197 closed

[2022-04-22 17:55] nzakas commented on #164
The site is live: https://ja.eslint.org/

Please take a look and verify everything looks correct.

I'll work on getting the analytics and ads configured.

[2022-04-24 15:37] darahak commented on #162
@nzakas Just letting you know, I started to work on it again.

[2022-04-25 17:07] nzakas commented on #165
Site is live:
http://new.cn.eslint.org/

I'll work on getting Google Analytics and ads for it (if possible)

[2022-04-25 22:38] nzakas opened #279 "Update dropdown markup for accessibility"
Pulling from https://github.com/eslint/play.eslint.org/pull/6#issuecomment-1083163991, just so we don't forget:

Oh, I see. I will work on migrating to the accesible select component you provided once everything else is done.

[2022-04-27 00:43] nzakas commented on #162
Great, thanks! If you ever want to submit a partial pull request, we can also ask the community to help by adding suggestions to it.

[2022-04-27 21:03] Brack0 commented on #162
Hey, (some update)

I'm pushing FR translations to @darahak (https://github.com/darahak/new.eslint.org/pull/1).

@nzakas Is there any linter for yml files ? Or at least a max line length ? (No worries, I just want to provide a clean file)

[2022-04-28 00:32] nzakas commented on #162
We don’t have a longer set up at this point. Generally we wrap files at around column 80, but you can do whatever makes it easiest for you to read.

[2022-04-28 23:34] brettz9 commented on #146
Yeah; https://github.com/11ty/eleventy/issues/836

[2022-05-04 18:13] nzakas commented on #191
The site is now deployed: https://hi.eslint.org.

I've added analytics in #202

Checking on ads

[2022-05-04 18:13] nzakas commented on #165
Adding analytics in #202.

[2022-05-04 18:14] nzakas commented on #164
Adding analytics in #202.

[2022-05-13 05:16] kecrily commented on #165
@nzakas new.cn.eslint.org is using an invalid certificate. It shows that the certificate issued to `*.netlify.app` is being used. Please check it

![image](https://user-images.githubusercontent.com/45708948/168215710-d8d8c332-af67-41c3-a7f6-84b515457798.png)

[2022-05-13 23:29] nzakas commented on #165
Thanks. It should be fixed momentarily.

[2022-05-14 02:54] kecrily commented on #165
It doesn't seem to be fixed yet.

[2022-05-14 18:23] darahak commented on #162
@nzakas I finished translating the file. I'm gonna run a local version to make sure I didn't break anything and open a PR right after.

[2022-05-17 00:38] nzakas commented on #165
Looks like the certificate creation failed. I’ll need to contact support.

[2022-05-30 19:07] nzakas commented on #162
The new site is now live!

https://fr.eslint.org/

I've submitted #221 to add Google Analytics.

I'll check on the ads.

[2022-06-16 21:10] mdjermanovic opened #231 "Block search engines from indexing the head version"
We want the pages under `https://eslint.org/docs/latest/` to appear in search results, so we should probably block the pages under `https://eslint.org/docs/head/` from indexing.

[2022-06-16 22:57] mdjermanovic opened #232 "Sitemaps"
We will have an additional sitemap at `https://eslint.org/docs/latest/sitemap.xml`, but will search engine crawlers be aware of it? Should we add a sitemap index file?

Also, we are using domain-relative URLs in `<loc>`, for example `<loc>/blog/2014/01/breaking-change-formatter/</loc>`. Per https://www.sitemaps.org/protocol.html#locdef this URL must begin with the protocol.

[2022-06-17 00:09] mdjermanovic commented on #117
I updated the list with the remaining issues that I am aware of.

[2022-06-17 14:50] mdjermanovic commented on #231
Per https://developers.google.com/search/docs/advanced/robots/intro robots.txt is not the place to do this. In fact, per https://developers.google.com/search/docs/advanced/crawling/block-indexing the pages should not be blocked from crawling.

We could set up `X-Robots-Tag: noindex` response header and/or add `<meta name="robots" content="noindex">` tags.

I prepared https://github.com/eslint/esli

[2022-06-17 15:19] mdjermanovic opened #233 "Rebuild and publish playground after releases"
Ideally, after each ESLint release the playground would be automatically re-built with the new version of ESLint and published.

This looks like a good case for the use of Netlify build hooks, assuming that the build hooks trigger all of build -> deploy -> publish.

[2022-06-18 00:43] nzakas commented on #233
Build hooks only rebuild what’s in the repo already. We would also need a way to update the ESLint version in package.json. I was going to check and see if there was a way to trigger a GitHub workflow based on a release in another repo. Worst case, we could build this into the bot.

[2022-06-18 00:54] nzakas commented on #232
I’m not very familiar with site map best practices, but an index sounds reasonable. Is that something you can take on?

[2022-06-18 00:59] nzakas commented on #231
I think a better approach might be to just set the canonical URL of pages in docs/head to be docs/latest. That way, Google will index the content but will consider it another version of the latest docs, which I think is the correct interpretation.

[2022-06-18 03:41] harish-sethuraman commented on #232
We have to include them in the robots.txt like the following for crawlers to be aware of it

[code]

[2022-06-18 11:21] mdjermanovic commented on #233
Version in the root is used to lint the playground repo.

The version we're building the playground from is in `src/playground/node_modules/eslint`. It's always [installed](https://github.com/eslint/playground/blob/3b54c11b88ba1afe583f8fd0283816ac6a9a94b3/package.json#L14) by the build script as ["eslint": "latest"](https://github.com/eslint/playground/blob/3b54c11b88ba1afe583f8fd0283816ac6a9a94b3

[2022-06-18 11:42] mdjermanovic commented on #233
I've just tried with a build hook and it has successfully published playground with ESLint v8.18.0

[2022-06-20 16:07] btmills commented on #162
#221 is merged, and I'm seeing ads on the live site, so closing as complete!

[2022-06-20 16:07] #162 closed

[2022-06-20 17:07] mdjermanovic commented on #231
I tried googling SEO best practices regarding docs for multiple versions of same product, but couldn't find anything conclusive. I think of pages with same canonical URL as pages that provide essentially same information, either exact same or even reduced or enhanced. Docs for different versions of a software package could provide substantially different information.

Either way, regardless of my

[2022-06-20 17:22] mdjermanovic commented on #231
But, we'll have a situation where some pages exist only in the `head` version for a certain period of time. For example, when we merge a new rule. At that point, canonical URL that points to the `latest` version will return 404, which doesn't seem right.

[2022-06-20 18:16] nzakas commented on #231
While that can happen, that’s an edge case, and one that will be resolved within two weeks each time it occurs. So I think it’s a safe way to start for now. We can always adjust things if we find they aren’t working correctly down the line.

[2022-06-20 19:25] nzakas commented on #233
Oh nice! :tada: So I guess all we need is a workflow to trigger the build hook on release?

[2022-06-20 21:38] mdjermanovic commented on #233
Yes, that should work well in this case

[2022-06-21 11:41] mdjermanovic commented on #231
As agreed in https://github.com/eslint/eslint/pull/16016, this issue is fixed by adding noindex meta tags.

[2022-06-21 11:41] #231 closed

[2022-06-21 16:18] mdjermanovic commented on #233
https://github.com/eslint/eslint/pull/16034

[2022-06-21 17:38] #232 closed

[2022-06-21 17:39] #233 closed

[2022-06-22 18:57] mdjermanovic opened #238 "Keep `eslintbot` in `all_authors.json`"
We have added `eslintbot` into `all_authors.json` because it will be the default author for release blog posts.

But our data update script overwrites `all_authors.json` with the list of authors from existing blog posts, so it will always remove `eslintbot`. This just happened in https://github.com/eslint/new.eslint.org/commit/db3b33b1f32db74219118b95359926f4f2ec856a

[2022-06-22 19:01] nzakas commented on #238
This is happening in `fetch-team-data.js`. We should just merge data into the file instead of overwriting.

[2022-06-23 20:41] amareshsm commented on #238
I would like give a try. Can I pick this?

[2022-06-24 00:06] snitin315 commented on #238
@amareshsm sure, feel free.

[2022-06-24 01:03] Rodzman opened #242 "Translate to Brazilian Portuguese"
### What language do you want to translate the website into?

Portuguese-BR

### What is the language code for the language?

pt-br

### What is the locale code for the language?

pt_BR

### What help will you need?

Help with the process after creating and commiting the file.

### Implementation Checklist

- [x] Create new site file
- [ ] Set up Netlify project
- [ ] Register new domain name
- [

[2022-06-24 01:16] coliff opened #243 "Bug: OpenGraph URLs should contain full URL"
### URL(s)

https://eslint.org/

### What did you do?

view source

### What did you expect to happen?

`<meta property="og:url" content="/">`
should be:
`<meta property="og:url" content="https://eslint.org/">`

### What actually happened?

see above

### Participation

- [ ] I am willing to submit a pull request for this issue.

### Additional comments

_No response_

[2022-06-24 07:16] kecrily commented on #165
I noticed that the main site is now using the new version, so maybe it's time to deploy the Chinese site to cn.eslint.org, not new.cn.eslint.org

----

Also maybe consider using zh.eslint.org instead of cn.eslint.org. other language sites are using language codes instead of country codes, and I don't think Chinese should be an exception.

[2022-06-24 07:21] aladdin-add commented on #165
https://github.com/eslint/cn.eslint.org/issues/218

[2022-06-24 14:50] kylemh opened #244 "Suggestion: Allow users to install ESLint plugins in the playground to fully explore a config before settling on it."
### What problem do you want to solve?

The playground is AMAZING. It's something that could be expanded in the future to even add some sort of gamification to avoid bike-shedding and allow teams to decide on ideal configs. In my opinion, the most important thing now would be to allow people to install plugins to use the playground for all of ESLint - not just the vanilla ruleset.

### What do you

[2022-06-24 17:32] nzakas commented on #242
Awesome, thanks! Let us know when you have questions.

[2022-06-24 17:36] nzakas commented on #136
This was completed.

[2022-06-24 17:36] #136 closed

[2022-06-24 18:33] nzakas opened #246 "Remove duplicate rule descriptions"

[2022-06-25 02:24] #243 closed

[2022-06-25 09:59] pubmikeb opened #248 "Suggestion: (Improve UX of rules managing in Playground)"
### What problem do you want to solve?

Since the https://eslint.org redesign, in order to add a rule in Playground you need to add it manually:
1. Click on `Choose a rule` combo box
2. Find a desired rule in a very long list of all available rules
3. Click on it
4. Click on `Add this rule`

This four steps you need to repeat manually for every rule you want to add. That's a tedious and time burni

[2022-06-25 09:59] pubmikeb opened #278 "Suggestion: Improve UX of rules managing in Playground"
### What problem do you want to solve?

Since the https://eslint.org redesign, in order to add a rule in Playground you need to add it manually:
1. Click on `Choose a rule` combo box
2. Find a desired rule in a very long list of all available rules
3. Click on it
4. Click on `Add this rule`

This four steps you need to repeat manually for every rule you want to add. That's a tedious and time burni

[2022-07-04 18:38] #242 closed

[2022-07-04 18:50] nzakas commented on #242
:tada: https://pt-br.eslint.org/

[2022-07-04 19:14] nzakas opened #257 "Bug: Long text blocks in blog posts cause text to spill out on the right"
### URL(s)

https://deploy-preview-240--new-eslint.netlify.app/content/drafts/interesting-bugs-caught-by-no-constant-binary-expression/

### What did you do?

Went to the page

### What did you expect to happen?

Normal layout of the page

### What actually happened?

Text is overflowing to the right.

![Screenshot 2022-07-04 at 12-07-43 Interesting bugs caught by no-constant-binary-expression - E

[2022-07-04 19:27] amareshsm commented on #257
I don’t see any overflow.

<img width="800" alt="image" src="https://user-images.githubusercontent.com/30730124/177208823-b00e991d-6d8b-4bb7-afe1-5445f3e1ce07.png">

<img width="800" alt="image" src="https://user-images.githubusercontent.com/30730124/177208888-4283d4a7-3771-412d-b951-8015411f67d0.png">

[2022-07-05 00:44] nzakas commented on #257
@amareshsm I’m in Firefox. It looks like the code example is clipped in your second screenshot.

[2022-07-05 17:18] #238 closed

[2022-07-05 17:43] nzakas commented on #257
For posterity: this looks like it's a bug in Firefox. For whatever reason, the element containing the content is stretching beyond the end of the page due to one long code sample.

[2022-07-06 00:53] nzakas commented on #117
All of the tasks in the checklist are closed, so closing.

[2022-07-06 00:53] #117 closed

[2022-07-08 00:43] nzakas commented on #146
Closing since we can’t make this change.

[2022-07-12 20:37] haykam821 opened #269 "The description of the donate page seems to use incorrect grammar"
### URL(s)

https://eslint.org/donate/

### What did you do?

The donate page uses the following description, which contains a grammatical error:

This description is rendered from the following:

https://github.com/eslint/eslint.org/blob/5d13b11ea92f99db005b34e2d8af5cf5ebc7e9e2/src/_data/sites/en.yml#L385-L388

### What did you expect to happen?

I expected the description of the donate page to h

[2022-07-13 00:51] nzakas commented on #269
Yup, nice catch. Please feel free to open a pull request to fix this.

[2022-07-13 20:03] bmish opened #270 "Bug: Anchor link missing on headers"
### URL(s)

Any page on the new ESLint website. Example: https://eslint.org/docs/latest/developer-guide/working-with-rules

### What did you do?

Hover over section header. For example, the "Rule Basics" section header.

### What did you expect to happen?

An anchor link to appear that can be used to directly link to a particular header inside a page. The direct section link https://eslint.org/doc

[2022-07-14 00:32] nzakas commented on #270
Yes, I think it’s just an oversight. Moving this to the eslint repo where the docs site lives.

For reference, the old site is now at https://archive.eslint.org

[2022-07-18 03:29] polyzen opened #273 "Bug: Blog feed is empty"
### URL(s)

https://eslint.org/feed.xml

### What did you do?

Noticed rss2email did not pick up the latest release (and also the one before that).

`lynx -dump https://eslint.org/blog/` doesn't show a link to the feed, but that might not be a problem.

### What did you expect to happen?

Feed populated

### What actually happened?

[code]

### Participation

- [ ] I am willing to submit a pull re

[2022-07-18 04:23] snitin315 commented on #273
I can see the following output when running `lynx -dump https://eslint.org/blog`. And this seems to include the latest release `v8.20.0`.
<details>
<summary>   output  </summary>

[code]

</details>

But if I run `lynx -dump https://archive.eslint.org/blog` it's showing till `v8.18.0`.

<details>
<summary>  output   </summary>

[code]
</details>

So, maybe `rss2email` is pointing towards the [old

[2022-07-18 04:24] snitin315 commented on #273
This looks like an oversight though.

[2022-07-18 04:32] polyzen commented on #273
`rss2email` is pointed to https://eslint.org/feed.xml.

`lynx -dump` for the old site includes `1. https://archive.eslint.org/feed.xml`, whereas the new site doesn't have a reference to a feed.

[2022-07-18 04:35] snitin315 commented on #273
I see, let me push a fix.

[2022-07-18 04:48] snitin315 commented on #273
The actual issue is here, it should be `collections.blogposts`. Fixed in https://github.com/eslint/eslint.org/pull/274
 https://github.com/eslint/eslint.org/blob/c3360e64aa31c400c7264c56653c2406f86f4973/src/static/feed.njk#L29

[2022-07-18 04:56] snitin315 commented on #273
Thanks for reporting the bug!

[2022-07-19 00:39] #273 closed

[2022-07-22 23:34] nzakas commented on #164
This is complete, so closing.

[2022-07-22 23:34] #164 closed

[2022-07-22 23:35] nzakas commented on #187
@stefankolb just checking back to see if you are still intending to work on this?

[2022-07-22 23:35] nzakas commented on #191
No ads, so closing.

[2022-07-22 23:35] #191 closed

[2022-07-23 08:58] stefankolb commented on #187
@nzakas Yes, absolutely, I'm 80% done, testimonials and faq are what's left. Sorry it takes so long

[2022-07-25 21:05] luifermoron opened #277 "Bug: (from-the-blog partial contains harcoded word: "View all posts")"
### URL(s)

https://github.com/eslint/eslint.org/blob/main/src/_includes/partials/from-the-blog.html#L12

### What did you do?

I just noticed it while navigating through the blogs

### What did you expect to happen?

replace the hardcoded word by a dynamic variable, so its content will change according to its language

### What actually happened?

since it is hardcoded only English version will b

[2022-07-26 00:49] nzakas commented on #277
Thanks!

[2022-07-26 00:51] #277 closed

[2022-07-26 00:53] #269 closed

[2022-07-26 00:53] nzakas commented on #187
No problem at all! We appreciate your effort.

[2022-07-26 01:08] nzakas commented on #279
@snitin315 are you still planning on addressing this?

[2022-07-26 03:29] snitin315 commented on #279
I don't see myself working on it in near future. But we have two options to go with -

-  Refactor the [old select component](https://github.com/eslint/playground/blob/23bea25563ee62306ede0ade6e0a8641979ed84a/src/assets/js/select.js#L11) to make it work with react. This seems to be a high-effort task.
- [Explore accessibility with the current `react-select`](https://react-select.com/advanced#acces

[2022-07-26 05:39] harish-sethuraman commented on #279
I can pick this up 😄

[2022-07-26 05:48] snitin315 commented on #279
@harish-sethuraman Thanks, feel free to ask anything if needed.

[2022-07-26 18:35] nzakas commented on #279
Thanks @harish-sethuraman. I believe you should look at this commit for the original version: https://github.com/eslint/playground/commit/178f9fd66e6bdffe944f74665634c8ca11fbf045

[2022-07-28 21:17] nzakas opened #283 "Update /team page with new team members"
We recently created two new teams, and we need to get those displayed on the /team page:

* Website Team - The people who maintain eslint.org.
* Support Team - The people who answer questions in Discord, on our mailing lists, and in discussions.

These should appear, in this order, on the /team page.

## Steps

- [ ] Update [`tools/fetch-team-data.js`](https://github.com/eslint/eslint.org/blob/mai

[2022-07-29 00:25] snitin315 commented on #283
I'll work on it.

[2022-07-29 00:46] nzakas commented on #283
Thanks!

[2022-07-31 04:24] harish-sethuraman commented on #279
So I was trying to use the dropdown with keyboard and it seems to work perfectly? I'm able to select, move and open dropdown and close it via keyboard. I'd like to know what more we are trying to add here? 😅

[2022-07-31 04:31] harish-sethuraman commented on #281
I think as we have turned of ligatures across sites we shouldn't have characters transforming into symbols.

Also +1 to considering using some other font for code examples and playground. It would be nice if we went ahead with some fonts like https://github.com/tonsky/FiraCode or https://github.com/microsoft/cascadia-code that provides better programming ligatures

[2022-07-31 04:31] harish-sethuraman commented on #278
Are we considering to use a multi select for dropdown to add rules? If yes I can pick this up.

[2022-08-03 00:58] nzakas commented on #279
I believe Sara mentioned some concerns on the PR I referenced.

[2022-08-05 07:46] aladdin-add opened #298 "Bug: Uncaught TypeError: Cannot read properties of null (reading 'setAttribute')"
### URL(s)

https://eslint.org/play/#eyJ0ZXh0IjoidmFyIGZvbyA9IFwiaGVsbG8gd29ybGRcIjtcblxuY29uc29sZS5sb2coZm9vKTsiLCJvcHRpb25zIjp7InBhcnNlck9wdGlvbnMiOnsiZWNtYVZlcnNpb24iOiJsYXRlc3QiLCJzb3VyY2VUeXBlIjoic2NyaXB0IiwiZWNtYUZlYXR1cmVzIjp7fX0sInJ1bGVzIjp7Im5vLWxvbmVseS1pZiI6WyJlcnJvciJdLCJuby1lbHNlLXJldHVybiI6WyJlcnJvciJdfSwiZW52Ijp7ImVzNiI6dHJ1ZX19fQ==

### What did you do?

just open the above url.

#

[2022-08-05 14:26] shanpriyan opened #299 "Bug: Missing few characters while typing in code editor (playground)"
### URL(s)

https://eslint.org/play/

### What did you do?

Typed characters in a faster pace in code editor (playground)

### What did you expect to happen?

Should take all the entered characters

### What actually happened?

Skipped few characters

### Participation

- [X] I am willing to submit a pull request for this issue.

### Additional comments

https://user-images.githubusercontent.com/4

[2022-08-05 17:47] shanpriyan opened #301 "Bug: Uncaught TypeError: Cannot read properties of null (reading 'classList') in windows"
### URL(s)

https://eslint.org/play/

### What did you do?

1. On `windows`  OS
1. Open any browser and visit [playground](https://eslint.org/play/)
2. Open `console` in devtools

### What did you expect to happen?

- No errors in console
- Should add `win` to the body class, if site is opened on `windows` machine

### What actually happened?

Received `document.body` is null error in console

###

[2022-08-06 00:42] nzakas commented on #301
Thanks for the report!

[2022-08-06 00:50] #283 closed

[2022-08-06 11:39] #299 closed

[2022-08-09 00:46] #301 closed

[2022-08-09 00:54] nzakas commented on #298
@snitin315 please be sure to also move issues to the “Ready to Implement” column when marked as accepted.

[2022-08-09 00:57] nzakas commented on #281
The problem is that all of the fonts were chosen to work together as part of the design. Just switching out the monospaced font breaks the consistency we have everywhere and makes the website feel more generic.

With the ligatures off, I don’t really have a problem with the current font.

[2022-08-09 00:58] nzakas commented on #278
@harish-sethuraman I think that depends on the design. As already mentioned, we don’t want to go back to checkboxes. If you have an idea for what it might look like, I’d suggest posting a design first before attempting to implement anything.

[2022-08-09 02:57] nzakas commented on #281
Although, I wonder if we can solve this by creating our own font. Just start with Space Mono and replace all the characters we don't like with the equivalent from another font that we do like? That seems like we could address everyone's concerns. Maybe we could just hire someone to do that?

[2022-08-09 04:32] harish-sethuraman commented on #278
<img width="563" alt="Screenshot 2022-08-09 at 10 02 01 AM" src="https://user-images.githubusercontent.com/32865581/183564776-aee6b7fe-e57e-4872-9832-a5d7092d6b4c.png">
@nzakas We are not going to move to checkboxes. We will use select that allows us to select multiple options like shown above.

[2022-08-09 06:17] Tanujkanti4441 commented on #298
![Screenshot 2022-08-08 231349](https://user-images.githubusercontent.com/86398394/183577662-437c656e-3a41-4c7e-9199-d78f88004464.png)

i am getting this error in my console on playground page i think it is related to this issue.
Can i make a PR for this.

[2022-08-09 06:21] aladdin-add commented on #298
sure, go for it! 👍

[2022-08-09 14:30] amareshsm commented on #298
closing this as completed in #305

[2022-08-09 14:30] #298 closed

[2022-08-10 00:56] nzakas commented on #278
@harish-sethuraman I’m not sure how that solves the problem. Can you explain more about what the user experience would be like?

[2022-08-12 08:16] harish-sethuraman commented on #278
I've sent a PR with multiselect instead of normal select. This way we don't need checkboxes and we can select multiple rules at once and then add them. ref preview: https://github.com/eslint/eslint.org/pull/308

[2022-08-12 17:56] #187 closed

[2022-08-12 18:01] nzakas opened #309 "Add keyboard controls to blog search"
Right now the blog search is mouse-only. We should update it to include keyboard controls:

1. After typing a couple characters, pressing down should move focus to the first search result and highlight it. You should be able to move to previous and next search results using up/down keys.
2. Pressing ESC should hide the dropdown and set focus back to the textbox.

[2022-08-12 18:08] nzakas opened #310 "Bug: Playground controls missing expand/collapse"
### URL(s)

https://eslint.org/play

### What did you do?

Navigated to the page

### What did you expect to happen?

I expected each section on the right configuration pane to be able to be collapsed or expanded.

### What actually happened?

There is no way to collapse or expand the panels.
![Screenshot 2022-08-12 at 11-02-53 ESLint Playground - ESLint - Pluggable JavaScript Linter](https://user

[2022-08-12 18:30] harish-sethuraman commented on #310
I can pick this up

[2022-08-12 18:32] nzakas commented on #310
Thanks! When you want to take something, please be sure to assign it to yourself, add the "accepted" label (once you've verified), and move to the "Ready to Implement" column in the Triage board. This helps us better keep track of things.

[2022-08-12 18:37] shanpriyan commented on #309
Shall i work on this?

[2022-08-12 18:37] harish-sethuraman commented on #309
Sure, I think we will need to do the same inside docs directory in ESLint main repo as well.

[2022-08-12 18:40] shanpriyan commented on #309
Sure

[2022-08-12 18:41] nzakas commented on #309
Yes we will. I just thought it would be easier to start on the blog and then just copy things over to the docs site too.

[2022-08-13 07:22] shanpriyan opened #312 "Bug: `No options` dropdown background appears white in dark mode"
### URL(s)

https://eslint.org/play/

### What did you do?

1. Switch to `dark` mode in playground
2. Select all the options from any multi select dropdown until nothing left.

### What did you expect to happen?

![image](https://user-images.githubusercontent.com/42532987/184473264-add6a651-f5a5-44d3-92ae-fd9651635320.png)
![image](https://user-images.githubusercontent.com/42532987/184473480-8fa44

[2022-08-14 11:21] #312 closed

[2022-08-15 03:38] lovetingyuan opened #317 "Suggestion: (place "dark mode switch" and "language selection" to the header position)"
### What problem do you want to solve?

"dark mode change" and "language selection" are usually at the top of the website.

### What do you think is the correct solution?

I think it is better to place "dark mode switch" and "language selection" to the header position.

### Participation

- [ ] I am willing to submit a pull request for this change.

### Additional comments

_No response_

[2022-08-15 08:53] kecrily commented on #317
I support making the language switch more visible. However, the dark mode toggle may not be necessary because by default it follows the user's system preference.

[2022-08-15 18:32] nzakas commented on #317
The problem is that we just don't have enough space at the top to fit all of these options, so we moved them to the bottom.

I'm willing to entertain an accessible design that somehow exposes the language options higher up, but we'd need it to work in a responsive way all the way down to mobile. If someone wants to propose something, we can consider it, but I don't think it's worth the team spendi

[2022-08-16 14:02] kecrily opened #320 "Suggestion: merge main site and docs site into one"
## Motivation

Currently, the eslint/eslint repository has a lot of content that is not related to the core, such as the style and layout of the documents.

And there are some styles and utilities that can be shared between the documentation site and the main site. However, they have to be implemented twice because they are separated in two repositories.

## How to do it

Merge the docs directory

[2022-08-16 18:58] nzakas commented on #320
We intentionally keep the docs and the main website separate. This was a key part of the redesign due to past pain points.

[2022-08-16 18:59] nzakas commented on #320
Oops, sorry, hit submit too soon.

I agree with the concern over duplicating style elements in both places, but I think there are other ways to solve this problem. For instance, we could make eslint.org and installable package with the shared assets. Then the docs site could use that as a dependency and copy over what it needed.

[2022-08-17 01:43] kecrily commented on #320
Can you explain this point?

[2022-08-17 20:06] nzakas commented on #320
We have gone through several stages:

1. when ESLint first started, the docs were in the website repo. The problem was that we couldn’t get people to update the docs. No one wanted to submit a second pull request to a different repository after their feature was merged.
2. We moved the docs into the ESLint repo but it was just the Markdown files. This made it easy for people to submit documentatio

[2022-08-18 02:04] aladdin-add commented on #320
what do you think the way of monorepos? some popular projects like vite.js, ts-eslint have been already using it for a while.

the downside is we have to update our release tool to support it, or choose another one.

[2022-08-18 05:09] shanpriyan commented on #309
Currently, `Esc` key is clearing the search query and closing the dropdown. Should I change it only to hide the dropdown without clearing the search query?

[2022-08-18 05:34] harish-sethuraman commented on #309
I think it is better to close the search results alone when `esc` is pressed instead of clearing the search result as well

[2022-08-18 07:15] kecrily commented on #320
I mentioned above that we can use `git sparse-checkout` in the eslint repo so that people can edit the document without leaving the working directory and will focus on the md file. This effectively makes the `docs/` directory a mirror of one of the directories in this repository. This way, changes to the `docs/` directory are also synchronized to this repository in real time

[2022-08-18 23:22] nzakas commented on #320
I’m sorry, I don’t believe git sparse-checkout is a good option here. We put a lot of thought into the current setup, and aside from needing to find a good way to share UI components, I don’t think it’s worth reorganizing things again at this point.

Keep in mind, each version’s docs are deployed as a separate site which makes it easy to switch between them. Copying just the current docs over into

[2022-08-19 02:58] kecrily commented on #320
In that case, let's abandon that idea and look instead for ways to share components across repositories.

[2022-08-19 02:58] #320 closed

[2022-08-19 20:25] #281 closed

[2022-08-23 20:57] nzakas opened #331 "Update add-author.js"
Right now, if a GitHub user doesn't have a bio, we won't generate a file in `partials/author_bios` (the script throws an error).

To fix:

Update [this line](https://github.com/eslint/eslint.org/blob/main/tools/add-author.js#L79) to use an empty string if `profile.bio` is null.

[2022-08-24 04:23] harish-sethuraman commented on #331
I'll pick this

[2022-08-24 22:11] #309 closed

[2022-08-24 22:13] #310 closed

[2022-09-02 14:55] AakashTyagi354 opened #337 "Suggestion: Sticky navbar on the website"
### What problem do you want to solve?

Hey I have a suggestion for UI , Can we make navbar stick at the top so that it is always percent when ever we scroll through website.

### What do you think is the correct solution?

Making navbar stick at the top.

### Participation

- [X] I am willing to submit a pull request for this change.

### Additional comments

_No response_

[2022-09-02 20:05] nzakas commented on #337
Thanks for the suggestion. We decide against a sticky navbar during the redesign as we don't think it's worth taking up the extra vertical space when navigating between all the top level pages isn't a common use case.

[2022-09-02 20:05] #337 closed

[2022-09-05 17:37] #331 closed

[2022-09-10 09:32] shanpriyan opened #341 "Bug: `run npm run install:playground` text appears before playground mounts on the page"
### URL(s)

https://eslint.org/play/

### What did you do?

Opened the URL https://eslint.org/play/

### What did you expect to happen?

`run npm run install:playground before running playground` should appear only in development.

### What actually happened?

`run npm run install:playground before running playground` appeared before playground mounted on the page

### Participation

- [ ] I am wi

[2022-09-10 09:33] harish-sethuraman commented on #341
Thanks for reporting this issue. I'd like to pick this

[2022-09-11 01:38] #341 closed

[2022-09-13 13:37] shanpriyan opened #349 "Bug: Unable to start dev server on windows machine"
### URL(s)

localhost

### What did you do?

Run `npm start` in windows machine

### What did you expect to happen?

Server should start

### What actually happened?

`CONTEXT` env variable is is not recognized as an internal or external command,
operable program or batch file.
![image](https://user-images.githubusercontent.com/42532987/189914054-6080dc51-ab14-42e2-9501-89cba5cb35ba.png)

### Part

[2022-09-13 15:02] #349 closed

[2022-09-14 08:36] jjangga0214 opened #351 "Add plugin usage for the new config system."
### What problem do you want to solve?

In the new config system, the specification of plugin is different.

For example, a property `configs` does not have any effect.

How plugin works in the new config system should be described in the docs.

### What do you think is the correct solution?

A new page should be introduced, like [this page](https://eslint.org/docs/latest/user-guide/configuring/co

[2022-09-14 19:40] nzakas commented on #351
Thanks for the feedback. Plugins actually work the same way, so there is no documentation to update. The only difference is in how you use configs that are bundled with the plugin. It looks like we don’t yet have that on the flat config docs, so we should add it.

[2022-09-15 04:00] SaraSoueidan commented on #317
Chiming in with an opinion here:

Most websites have language switchers at the bottom of the site. So I don’t see the current position of the language switcher as a problem that needs to be solved. Same for the theme switcher: some sites have it at the top; others have it at the bottom. There's no right or wrong here.

Of course, the design dictates where something goes. As @nzakas mentioned, ther

[2022-09-18 17:44] lxmarinkovic commented on #317
I genuinely believe that the lang. selector should be on top but simplified (abbreviated or just flag) version with reduced length, so it fits on the left side of Donate button. When it is about light/dark switch, I agree that it should remain on the bottom

[2022-09-19 17:56] nzakas commented on #317
Thanks for the explanation @SaraSoueidan.

Given that, we aren’t going to move forward with making changes here.

[2022-09-19 17:56] #317 closed

[2022-10-13 10:14] maritaria opened #356 "Suggestion: Add documentation regarding eslint-ignore comments"
### What problem do you want to solve?

Give a comprehensive explanation of directive comments (e.g. `// eslint-disable-next-line`).

I wanted to know how to add a justification to an eslint directive, the only reference to directives (which I didn't know that's what they are called anyway) is for the `--no-ignore-lines` argument ([link](https://eslint.org/docs/latest/user-guide/command-line-inter

[2022-10-13 10:21] maritaria commented on #356
Since posting I have spotted the relevant section in 'configuring rules'. 🤦 .

The justification thing could be added as a separate item so it is shown in the nav as well.

[2022-10-19 20:00] Rodzman commented on #280
Hi @nzakas! How are you?

Is this issue still needing attention? If so, can I help in anyway?

Regards

[2022-10-20 00:30] snitin315 commented on #280
@Rodzman Yes, this is yet to be implemented. Feel free to send a PR

[2022-10-27 08:50] liushenf opened #360 "Bug: no-shadow hoist functions section zh-cn translation incorrect"
### URL(s)

http://eslint.cn/docs/rules/no-shadow#hoist-functions

### What did you do?

After the first sample in "hoist: functions", the here is a sentence as below:
`虽然 if 语句中的 let b 在 function声明之前，该示例是正确的。`

But in the English version (https://eslint.org/docs/latest/rules/no-shadow#hoist-functions), the sentence is:
`Although let b in the if statement is before the function declaration in the

[2022-10-27 18:20] harish-sethuraman opened #362 "Suggestion: add proper og:images for rules"
### What problem do you want to solve?

currently when a user shares eslint url through social media it shows ESLint logo as og image and that doesn't make sense. We could improve this with something better like the one github shows. I'd suggest we show the rule name, description that we have already about the rule  and if the rule is recommended or not along with some way to depict it has fix or

[2022-10-27 23:16] nzakas commented on #362
I’m all for this. I’d suggest we also look at services that can generate these images on the fly. I know there are a couple out there that allow you to pass in a background image and then text to overlay. I think that’s a better long-term solution than needing to generate and check in every image.

First step seems like to come up with a design for what these images should look like.

[2022-10-27 23:18] nzakas commented on #360
Sorry, we don’t own or maintain eslint.cn so we can’t help.

[2022-10-27 23:18] #360 closed

[2022-10-28 06:17] harish-sethuraman commented on #362
By on the fly I assume you are talking about something like this? https://github.com/vercel/satori/
https://vercel.com/docs/concepts/functions/edge-functions/og-image-generation

Reason why I did not suggest generating on the fly.
1. We might need to deploy the service separately
2. We have to maintain it despite the number of rules are kinda fixed and not very dynamic
3. Someone else can also hit

[2022-10-28 07:09] kecrily commented on #362
Maybe we just need a template and generate the og image at build time.

I tried to create a [draft](https://og-playground.vercel.app/?share=jVU7juNGEL1Kg06Hvf3_CGMHS9vYgJsZEywmoSRqRIMShSE10mCxoS_g1AZsX80n8BH8usmmNMIGm4h8zarX71VVtz5nq25dZ4vsft28kOH0_WO2aeszOeWbY9uS7fhYPuWnbTPUj9kPj3tCbmLDT77qWrLLq-PQTUEI61-eyKlZD1tEWv2YkZemPr3vzoCMMGI1MVidohF_qIYtWePrR2Wo1lYQwSlnXpZSUcaNJVxSZzwvpKSWCR-wcdYTYMkNv8aM

[2022-10-28 20:01] nzakas commented on #362
@harish-sethuraman i meant let’s find a service we can use, not one we have to maintain. That would eliminate most of the issues.

We could also use a Netlify function for this purpose.

@kecrily that looks great. 👍

Only issue with build time generation is how long it takes. We do have a limit on Netlify jobs, so it would be helpful to get an idea about how long it would take for each build.

[2022-10-29 06:01] harish-sethuraman commented on #362
It is a very simple task, all we need is to plug a library to convert layout to png. Which takes care of most of the issues.

I tried to convert a complex svg to png with https://www.npmjs.com/package/@resvg/resvg-js and it took me 595.372ms on my device (m1 macbook pro). Or we could even convert HTML layout to svg and to png using https://github.com/vercel/satori/. HTML -> SVG conversion is still

[2022-11-02 19:01] nzakas commented on #362
@harish-sethuraman My main goal here is to limit the complexity of generating these images. If we can offload most of the process outside of our build, that is preferable. I know it seems like a simple task, but if we are generating 300 images on every deploy, every deploy preview, for multiple translation sites, that adds up to a lot of computing that might not ever be needed. That's why I'd pref

[2022-11-10 10:38] kecrily opened #368 "Redirect cn.eslint.org to zh-hans.eslint.org site"
The new Simplified Chinese site is ready, let's say goodbye to cn.eslint.org. Now it's time to take people to the new site.

[2022-11-12 00:29] #368 closed